@font-face {
  font-family: regular;
  src: url(/public/EditSerifCy-Regular.woff);
  font-weight: bold;
}

:root {
  --background-color: #0a192f;
  --slate: #8892b0;
  --lightest-slate: #ccd6f6;
  --green: #64ffda;
  --fz-heading: 32px;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --fz-md: 16px;
  --fz-xl: 20px;
  --lightest-navy: #233554;
  --light-navy: #112240;
  --border-radius: 4px;
  --fz-xs: 13px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
}

/* fonts  */
.lightSlateText {
  color: var(--lightest-slate);
}

.slateText {
  color: var(--slate);
  font-family: Mulish;
}

.greenText {
  color: var(--green);
  font-family: var(--font-mono);
  font-weight: 100;
}

.largeText {
  font-size: clamp(40px, 8vw, 80px);
  font-family: Mulish;
}
.headingText {
  font-size: clamp(26px, 5vw, var(--fz-heading));
  font-family: Mulish;
}

.logoFont {
  font-family: Mullish;
  font-weight: 500;
  color: var(--green);
  font-size: 2rem;
}

.logoContainer {
  position: relative;
}
.logoContent {
  position: absolute;
  top: 0.1rem;
  left: 1.05rem;
}

.regularsizeText {
  font-size: 1rem;
}
.bulletPointFontSize {
  font-size: clamp(var(--fz-md), 3vw, var(--fz-xl));
}

.stack {
  display: flex;
  flex-direction: column;
}

.gap {
  gap: 0.2rem;
}
.gap1 {
  gap: 0.5rem;
}

.gap2 {
  gap: 1rem;
}

.gap3 {
  gap: 1.5rem;
}

.gapX {
  gap: 10rem;
}
.heroDiv {
  line-height: 0.2px;
}

.maxWidth {
  max-width: 66rem;
  margin: 0 auto;
  padding: 0rem;
}

.flex {
  display: flex;
}
.center {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.center1 {
  justify-content: center;
  align-items: center;
}
.textwrap {
  word-wrap: wrap;
}

.widthRestrict {
  max-width: 35rem;
}

.widthRestrict2 {
  max-width: 20rem;
}

.fullVh {
  height: 100vh;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.headerContent {
  display: flex;
  justify-content: space-evenly;
}

.headerPadding {
  padding: 0.1rem;
}
.Hide {
  opacity: 0;
}

.fixedHeader {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px; */
}
.glasify {
  background: rgba(10, 25, 47, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.dash {
  padding: 0.3rem;
  border-bottom: 1px solid var(--lightest-navy);
  width: 18rem;
}

.End {
  justify-content: end;
  align-items: end;
}

.Start {
  justify-content: start;
  align-items: start;
}
.textAlignEnd {
  text-align: end;
}

.textAlignStart {
  text-align: start;
}
.textAlignCenter{
  text-align: center;
}
.ExtraWidth {
  width: 110%;
}



.discriptBox {
  background-color: var(--light-navy);
  border-radius: var(--border-radius);
  padding: 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  z-index: 8;
}

.mySvg {
  width: 22px;
  height: 22px;
}

.featuredText {
  font-size: var(--fz-xs);
  font-family: var(--font-mono);
  color: var(--green);
  font-weight: 400;
}

.email {
  font-size: var(--fz-xs);
  font-family: var(--font-mono);
  color: var(--slate);
  font-weight: 400;
}

.relative {
  position: relative;
}
.overFlowHidden {
  overflow: hidden;
}

.horizontalText {
  writing-mode: vertical-lr;
}

.rotate90 {
  rotate: 90deg;
}

.pointer {
  cursor: pointer;
}

.fit {
  width: 100%;
}
